html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header_map_wrapper {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.header {
  display: flex;
  height: 50px;
  width: 100%;
  background: #baa89b;
  color: #422404;
  border: 1px solid #999;
  align-items: center; /* center vertically, does not affect horizontal */
  justify-content: flex-start; /* left */
  padding: 0 0 0 10px; /* top right bottom left */
  font-size: 1.6em;
}

input {
  font-size: 12px;
}

h1 {
  font-size: 22px;
  margin: 0 0 10px 0; /* top right bottom left */
  text-align: center;
}

#hide-listings,
#show-listings {
  width: 48%;
}
/* https://github.com/google-map-react/google-map-react/issues/142 */

#map_container {
  position: relative;
  height: 100%;
  flex: 2 2 auto;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.options-box {
  background: #524439;
  color: #dfe0df;
  border: 1px solid #999;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 0 10px; /* top right bottom left */
  text-align: left;
  width: 340px;
}

.menu-btn {
	cursor: pointer;
}
